In [2]:
import datetime
from datetime import date
import geopandas as gpd
from shapely.geometry import Point
import numpy as np
import os
import sys
import xarray as xr
import pandas as pd
import netCDF4 as nc
import matplotlib.pyplot as plt

In [4]:
def open_ntcdf(file_path):
    ### opens datasets. give the path to dataset to open. will open as a dataframe
    
    open_ntcdf = xr.open_dataset(file_path)

    ntcdf_dataframe = open_ntcdf.to_dataframe()

    display(ntcdf_dataframe)

path = 'C:/Users/walimunige.rupasingh/OneDrive - University of Calgary/Documents/Reasearch/Snow_drought_indicator/snowdroughtindex/data/input_data/SWE_1979_2022_gapfilled_basin05BB001_Bow.nc'

SWE = open_ntcdf(path)

                              SWE  flag donor_stations        lat         lon  \
time       station_id
1979-01-01 ALE-05BA811        NaN   NaN                 51.700001 -116.466667
           SCD-AL003          NaN   NaN                 51.183334 -115.566666
           ALE-05BA801        NaN   NaN                 51.416668 -116.183334
           ALE-05BA802        NaN   NaN                 51.433334 -116.166664
           ALE-05BA806        NaN   NaN                 51.416668 -116.233330
...                           ...   ...            ...        ...         ...
2022-07-31 ALE-05BA814        NaN   0.0                 51.683334 -116.383331
           ALE-05BB803        NaN   0.0                 51.083332 -115.783333
           ALE-05CA805        NaN   0.0                 51.533333 -116.050003
           ALE-05BB803P  40.11483   0.0                 51.083332 -115.783333
           ALE-05CA805P   3.89600   0.0                 51.540554 -116.056389

                                    station_name
time       station_id
1979-01-01 ALE-05BA811          BOW SUMMIT (OLD)
           SCD-AL003                       BANFF
           ALE-05BA801                 BOW RIVER
           ALE-05BA802           PIPESTONE UPPER
           ALE-05BA806               MIRROR LAKE
...                                          ...
2022-07-31 ALE-05BA814            KATHERINE LAKE
           ALE-05BB803          SUNSHINE VILLAGE
           ALE-05CA805            SKOKI MOUNTAIN
           ALE-05BB803P  SUNSHINE VILLAGE PILLOW
           ALE-05CA805P       SKOKI LODGE PILLOW

[222852 rows x 6 columns]

In [ ]:
import rasterio
import matplotlib.pyplot as plt
from rasterio.plot import show

# Paths to the raster files
paths = [
    "/Users/Martyn/GitRepos/BritishColumbia/dtm_elev.lowestmode_gedi.cded.eml_mf_25m_0..0cm_2000..2018_bc.epsg3005_v0.1.2.tif",
    "/Users/Martyn/GitRepos/BritishColumbia/veg_canopy.height_glad.gedi_m_25m_0..0cm_2018..2019_bc.epsg3005_v1.tif",
    "/Users/Martyn/GitRepos/BritishColumbia/lcv_tree.cover_glad.gedi_p_25m_0..0cm_2000..2000_bc.epsg3005_v0.1.tif",
    "/Users/Martyn/GitRepos/BritishColumbia/lcv_surface.water_jrc.gsw_p_25m_0..0cm_1982..2018_bc.epsg3005_v2.1.tif"
]

# Titles for each subplot
titles = [
    "Elevation",
    "Canopy Height",
    "Tree Cover",
    "Surface Water"
]

# Plot each raster in a subplot
fig, axs = plt.subplots(2, 2, figsize=(12, 10))

for ax, path, title in zip(axs.ravel(), paths, titles):
    with rasterio.open(path) as src:
        show(src, ax=ax, title=title, cmap="viridis")

# Adjust layout and display plot
plt.tight_layout()
plt.show()